/* general styles */
body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  background-image: url(../img/sfondo-2.jpg);
  background-size: cover;
  box-sizing: border-box;
  }

#contenitore {
  width: 1000px;
  margin: auto;
}

/* header */

#logo {
  width: 60px;
  height: 60px;
  margin: 10px;
  vertical-align: middle;
}

#titolo {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}

.linee-hr {
  border: solid 2px #999;
}

#tasto-cerca {
  display: inline-block;
  margin-left: 369px;
}

/* avviso non letti*/

#numero-non-letti {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-left: 15px;
}

.numero {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #999;
  border-radius: 50%;
  font-weight: 700;
}

/* box-pulsanti */

.pulsanti {
  display: inline-block;
  border: 2px solid #ccc;
  width: 109px;
  height: 20px;
  background: #fff;
  text-align: center;
  font-weight: 700;
  border-radius: 5px;
}

#posizione-pulsanti {
  display: inline-block;
  margin-left: 21px;
}

/* lista email */
.email {
  padding: 10px;
  border: solid 2px #999;
  border-radius: 5px;
  font-size: 20px;
}

.nonletti {
  background: #fff;
}

.letti {
  background: rgba(255,255,255, 0.6);
}

#selezionata {
border: solid 2px red;
}

.testo-aggiuntivo::after {
  content: '...'
}

.testo-aggiuntivo::before {
  content: '- '
}

.spostamento-laterale {
  display: inline-block;
  vertical-align: top;
}

.contenuto-email {
  display: inline-block;
  padding-bottom: 26px;
  width: 697px;
  height: 490px;
  border: solid 2px #999;
  border-radius: 5px;
  font-size: 20px;
  background: #fff;
}


#email-testo {
 position: relative; top: 10px;
 left: 10px;
}

/* footer */
#finale-pagina {
  color: #fff;
  text-align: center;
}

#gmail-text {
  font-size: 25px;
}
